*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    background-color: black;
}
.nav-link:hover{
    border-bottom: 5px solid skyblue;
}
.nav-item .active{
    border-bottom: 5px solid skyblue;
}
.fa-magnifying-glass{
    color: gray;
}
.search-box{
    border: none;
    outline: none;
}
.direc{
    transition: 0.5s;
}
.direc:hover{
    color: white !important;
}
.main-content{
    width: 950px;
    height: 500px;
}
.tab-img{
    width: 50px;
    height: 65px;
    object-fit: cover;
    margin: 0 10px;
}
.carousel-indicators [data-bs-target]{
    background: none;
    text-indent: 0;
    width: 250px;
    height: 60px;
    text-decoration: none;
    color: white !important;
    margin-top: 2px;
}
.carousel-indicators{
    position: relative;
    margin: 0;
    z-index: 0;
}
.carousel-indicators [data-bs-target]:hover{
    background-color: rgba(255,255,255,.08);
    border-radius: 16px;
}
.carousel-indicators .active{
    background-color: rgba(255,255,255,.08);
    border-radius: 16px !important;
}
.tag-high{
    transition: 0.5s;
    margin-left: 10px;
}
.three-card img:hover{
    opacity: 0.8;
    cursor: pointer;
}
.three-card div a:hover{
    border-bottom: 2px solid white !important;
}